<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../static/css/StylesByRafael.css">
  </head>
  <body>
<thead>
            <tr>
                <th>Tecnico</th>
                <th>Chamado</th>
                <th>Data</th>
                <th>Nome do Micro</th>
                <th>Fabricante</th>
                <th>Modelo</th>
                <th>Service Tag</th>
		<th>Unidade</th>
		<th>Setor</th>
		<th>Data da Manutencao Anterior</th>
		<th>Data da Proxima Manutencao</th>
		<th>Status</th>
		<th>Estado</th>
            </tr>
        </thead>
        <tbody>  </body>

<script src="../static/js/ListByRafael.js"></script>
</html>
