<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../static/css/StylesByRafael.css">
  </head>
  <body>
<form id="form">
  <div class="fields">
    <div class="form-control">
      <label for="name">NOME</label>
      <input type="text" id="name">
    </div>
    <div class="form-control">
      <label for="password">SENHA</label>
      <input type="password" id="password">
    </div>
  </div>
  <button>LOGIN</button>
</form>
	<script src="../static/js/LoginByRafael.js"></script>
  </body>
</html>